.office {
    position: relative;
    background: url('../img/office.jpg') no-repeat center;
    z-index: 3;
}
    .office::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.6);
        z-index: -1;
    }
.cyan{
    color: #00e682;
}
.cyan:hover {
    color: #212529;
}
.headrefs {
    color: #212529
}
.headrefs:hover {
    color: #00e682;
}
.ovalbutton {
    background-color: #00e682;
    border: 4px, #00e682;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 2px;
    border: 2px solid #00e682;
}
.ovalbutton1{
    border-radius: 20px;
}
.ovalbutton:hover{
    background-color: white;
    border: 2px solid #00e682;
    color: #00e682;
}
.ovalbutton2 {
    background-color: #00e682;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    border: 2px solid #00e682;
}
.ovalbutton2:hover {
    background-color: transparent;
    border: 2px solid #00e682;
    color: #00e682;
}
.recktangle {
    margin: auto;
    max-width: 50%;
    border: 5px solid #00e682;
    padding: 30px;
}
.bottomtext{
    margin: 0, 40px;
}
.uppertext {
    margin: 20px;
}